<mat-card class="main">
<ion-grid>
  
  <ion-row>
    <ion-col size = "12">
      <mat-card>
        <mat-card-title>Information</mat-card-title>
        <ion-row>
          <ion-col size ="6">
            <ion-item lines="none">
            <div class="user-image">
              <img src="http://nicesnippets.com/demo/up-profile.jpg">
          </div>
            </ion-item>

            <ion-item lines="none" > 
              <ul ion-padding>
                <li>First Name: Innocent</li>
                <li>Last Name:  Ndhlovu</li>
                <li>Gender: Male</li>
                <li>Phone: 0820404995</li>
                <li>Email: register@gmail.com</li>
              </ul>
            </ion-item>
            </ion-col>


          <ion-col size ="6">

                  dfghjk
          </ion-col>
        </ion-row>



        
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </ion-col>
    
    <!-- <ion-col size = "8">
      <mat-card>

      </mat-card>
    </ion-col> -->
  </ion-row>
  <ion-row>
    <ion-col>
      <mat-card> tabs</mat-card>      
    </ion-col>
  </ion-row>

</ion-grid>
  















</mat-card>