

<mat-tab-group mat-align-tabs="center" mat-stretch-tabs [selectedIndex]="index">
  <mat-tab >
    <ng-template mat-tab-label>
      <ion-icon name="log-in" size="large" class="ion-margin"></ion-icon>
       <b>SIGN IN</b>
    </ng-template>
    <div style="width: 50%; margin: auto; text-align: center; background-color: white; margin-top: 120px; padding-top: 50px; padding-bottom: 50px; margin-bottom: 100px; border-radius: 20px;">

        <h2>Welcom to Elearning Accademy</h2>
        <h4>Sign in and start learning</h4>
      <form>
 
        <ion-item class="ion-margin" style="border-radius: 90px; border: 1px solid black;">
          <ion-label position="stacked">Email Address</ion-label>
          <ion-input ></ion-input>
        </ion-item>

        <ion-item class="ion-margin" style="border-radius: 90px; border: 1px solid black;">
          <ion-label position="stacked">Password</ion-label>
          <ion-input ></ion-input>
        </ion-item>

        <ion-checkbox></ion-checkbox> <ion-label class="ion-margin">Remember password</ion-label>

        <ion-button class="ion-margin" size="large" expand="block" shape="round"   strong>SIGN IN</ion-button>

        <div><ion-label>Or Sign in with</ion-label></div>

        <button mat-icon-button  style="background-color: transparent;">

        <ion-icon size="large" class="ion-margin" color="primary" name="logo-facebook"></ion-icon>
          
        </button>

        <button mat-icon-button  style="background-color: transparent;">
          <ion-icon class="ion-margin" name="logo-google" size="large" color="danger"></ion-icon>
        </button>

          <button mat-icon-button  style="background-color: transparent;">
            <ion-icon name="call" class="ion-margin" size="large"></ion-icon>
          </button>

      </form>

    </div>

  </mat-tab>


  <mat-tab >
    <ng-template mat-tab-label>
      <ion-icon name="person-add" size="large" class="ion-margin"></ion-icon>
       <b>SIGN UP</b>
    </ng-template>

    <div style="width: 50%; margin: auto; text-align: center; background-color: white; margin-top: 120px; padding-top: 50px; padding-bottom: 50px; margin-bottom: 100px; border-radius: 20px;">

      <h2>Welcom to Elearning Accademy</h2>
      <h4>Sign up and start learning</h4>
    <form>

      <ion-item class="ion-margin" style="border-radius: 90px; border: 1px solid black;">
        <ion-label position="stacked">First Name</ion-label>
        <ion-input ></ion-input>
      </ion-item>

      <ion-item class="ion-margin" style="border-radius: 90px; border: 1px solid black;">
        <ion-label position="stacked">Last Name</ion-label>
        <ion-input ></ion-input>
      </ion-item>

      <ion-radio-group value="biff">
      
        <ion-item>
          <ion-label>Male</ion-label>
          <ion-radio slot="start" value="Male"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Female</ion-label>
          <ion-radio slot="start" value="Female"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-item class="ion-margin" style="border-radius: 90px; border: 1px solid black;">
        <ion-label position="stacked">Phone Number</ion-label>
        <ion-input ></ion-input>
      </ion-item>

      <ion-item class="ion-margin" style="border-radius: 90px; border: 1px solid black;">
        <ion-label position="stacked">Email Address</ion-label>
        <ion-input ></ion-input>
      </ion-item>

      <ion-item class="ion-margin" style="border-radius: 90px; border: 1px solid black;">
        <ion-label position="stacked">Password</ion-label>
        <ion-input ></ion-input>
      </ion-item>

      <ion-item class="ion-margin" style="border-radius: 90px; border: 1px solid black;">
        <ion-label position="stacked">Confirm Password</ion-label>
        <ion-input ></ion-input>
      </ion-item>

      <ion-item class="ion-margin" style="border-radius: 20px; border: 1px solid black; ">
        <ion-label position="stacked">Profile summary</ion-label>
        <ion-textarea rows="5" placeholder="Write a little description about you. Words should be atleast 500 charecters"></ion-textarea>
      </ion-item>


      <ion-button class="ion-margin" size="large" expand="block" shape="round"  strong>SIGN UP</ion-button>



    </form>

  </div>


  </mat-tab>

</mat-tab-group>

