 .img{
  height: 125px;
  width: 100%;
}
.featured-courses{
  padding-bottom: 50px;
  margin-bottom: 50px;
  padding-left: 10px;
  align-content: stretch;

  display:flex;
  flex-wrap: wrap;
  height: 100%;
  width: auto;
}
.fcourse-card{
  margin: 28px;
  width: 280px;
  height: auto;
  margin-left: 50px;
}
