<ion-header>
    <ion-toolbar color="dark">

        <ion-title>
          Enrolled Courses
        </ion-title>
    </ion-toolbar>
</ion-header>
<hr>
<section class="cards">
    <!--   card 1 -->
    <article class="card" (click)="leasons()">
        <picture class="thumbnail">
            <img class="category__01" src="../../../assets/img/enrolled/Angular.png" alt="" />
        </picture>
        <div class="card-content">
            <p class="category category__01">Angular</p>
            <h2>Angular.js</h2>
            <p>TUX re-inventing the wheel, and move the needle.</p>
        </div>
        <!-- .card-content -->
        <footer>
            <div class="post-meta">
                <span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span>
                <span class="comments"><i class="fa fa-comments"></i><a href="#"> RESUME COURSE</a></span>
            </div>
        </footer>
    </article>
    <!--   card 2 -->
    <article class="card" (click)="leasons()">
        <picture class="thumbnail">
            <img class="category__02" src="../../../assets/img/enrolled/django.png" alt="" />
        </picture>
        <div class="card-content">
            <p class="category category__02">DJango</p>
            <h2>DJANGO</h2>
            <p>TUX re-inventing the wheel, and move the needle.</p>
        </div>
        <!-- .card-content -->
        <footer>
            <div class="post-meta">
                <span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span>
                <span class="comments"><i class="fa fa-comments"></i><a href="#"> RESUME COURSE</a></span>
            </div>
        </footer>
    </article>
    <!--   card 3 -->
    <article class="card" (click)="leasons()">
        <picture class="thumbnail">
            <img class="category__03" src="../../../assets/img/enrolled/FIREBASE.png" alt="" />
        </picture>
        <div class="card-content">
            <p class="category category__03">Firebase</p>
            <h2>Firestore</h2>
            <p>TUX re-inventing the wheel, and move the needle.</p>
        </div>
        <!-- .card-content -->
        <footer>
            <div class="post-meta">
                <span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span>
                <span class="comments"><i class="fa fa-comments"></i><a href="#"> RESUME COURSE</a></span>
            </div>
        </footer>
    </article>
    <!--   card 4 -->
    <article class="card" (click)="leasons()">
        <picture class="thumbnail">
            <img class="category__04" src="../../../assets/img/enrolled/flutter.png" alt="" />
        </picture>
        <div class="card-content">
            <p class="category category__04">Flutter</p>
            <h2>Function</h2>
            <p>TUX re-inventing the wheel, and move the needle.</p>
        </div>
        <!-- .card-content -->
        <footer>
            <div class="post-meta">
                <span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span>
                <span class="comments"><i class="fa fa-comments"></i><a href="#"> RESUME COURSE</a></span>
            </div>
        </footer>
    </article>
    <!--   card 5 -->
    <article class="card" (click)="leasons()">
        <picture class="thumbnail">
            <img class="category__02" src="https://abbeyjfitzgerald.com/wp-content/uploads/2018/01/camera-1.svg" alt="" />
        </picture>
        <div class="card-content">
            <p class="category category__02">Photo Technology</p>
            <h2>Image Techniques</h2>
            <p>TUX re-inventing the wheel, and move the needle.</p>
        </div>
        <!-- .card-content -->
        <footer>
            <div class="post-meta">
                <span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span>
                <span class="comments"><i class="fa fa-comments"></i><a href="#"> 18 comments</a></span>
            </div>
        </footer>
    </article>
    <!--   card 6 -->
    <article class="card" (click)="leasons()">
        <picture class="thumbnail">
            <img class="category__01" src="https://abbeyjfitzgerald.com/wp-content/uploads/2018/01/cloud.svg" alt="" />
        </picture>
        <div class="card-content">
            <p class="category category__01">Cloud Storage</p>
            <h2>Image Upload</h2>
            <p>TUX re-inventing the wheel, and move the needle.</p>
        </div>
        <!-- .card-content -->
        <footer>
            <div class="post-meta">
                <span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span>
                <span class="comments"><i class="fa fa-comments"></i><a href="#"> 19 comments</a></span>
            </div>
        </footer>
    </article>

    <!--   card 7 -->
    <article class="card" (click)="leasons()">
        <picture class="thumbnail">
            <img class="category__01" src="https://abbeyjfitzgerald.com/wp-content/uploads/2018/01/cloud.svg" alt="" />
        </picture>
        <div class="card-content">
            <p class="category category__01">Cloud Storage</p>
            <h2>Image Upload</h2>
            <p>TUX re-inventing the wheel, and move the needle. </p>
        </div>
        <!-- .card-content -->
        <footer>
            <div class="post-meta">
                <span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span>
                <span class="comments"><i class="fa fa-comments"></i><a href="#"> 19 comments</a></span>
            </div>
        </footer>
    </article>

    <!--   card 8 -->
    <article class="card" (click)="leasons()">
        <picture class="thumbnail">
            <img class="category__01" src="https://abbeyjfitzgerald.com/wp-content/uploads/2018/01/cloud.svg" alt="" />
        </picture>
        <div class="card-content">
            <p class="category category__01">Cloud Storage</p>
            <h2>Image Upload</h2>
            <p>TUX re-inventing the wheel, and move the needle.</p>
        </div>
        <!-- .card-content -->
        <footer>
            <div class="post-meta">
                <span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span>
                <span class="comments"><i class="fa fa-comments"></i><a href="#"> 19 comments</a></span>
            </div>
        </footer>
    </article>
</section>