<ion-header>
  <ion-toolbar>
    <ion-title>courseinrolled</ion-title>
  </ion-toolbar>
</ion-header>


<div class="box">
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        
  <div class="card"> 
    <img class="img" src="./../../../assets/img/enrolled/images.jpg">
    <div class="name" >C.name</div><br>
    <div class="enrolled" vertical = "bottom">
      <ion-button color="dark" size = "medium" fill = "outline" >
        enrolled
      </ion-button>
    </div>
  </ion-col>
</ion-row>
</ion-grid>
  </div>

  <div class="card"> 
    <img class="img" src="./../../../assets/img/enrolled/images.jpg">
    <div class="name" >C.name</div><br>
    <div class="enrolled" vertical = "bottom">
      <ion-button color="dark" size = "medium" fill = "outline" >
        enrolled
      </ion-button>
    </div>
  </div>

  <div class="card"> 
    <img class="img" src="./../../../assets/img/enrolled/images.jpg">
    <div class="name" >C.name</div><br>
    <div class="enrolled" vertical = "bottom">
      <ion-button color="dark" size = "medium" fill = "outline" >
        enrolled
      </ion-button>
    </div>
  </div>

  <div class="card"> 
    <img class="img" src="./../../../assets/img/enrolled/images.jpg">
    <div class="name" >C.name</div><br>
    <div class="enrolled" vertical = "bottom">
      <ion-button color="dark" size = "medium" fill = "outline" >
        enrolled
      </ion-button>
    </div>
  </div>

  <div class="card"> 
    <img class="img" src="./../../../assets/img/enrolled/images.jpg">
    <div class="name" >C.name</div><br>
    <div class="enrolled" vertical = "bottom">
      <ion-button color="dark" size = "medium" fill = "outline" >
        enrolled
      </ion-button>
    </div>
  </div>
</div>

