<ion-header>
    <ion-toolbar color="dark">

        <ion-title>Leasons</ion-title>


        <br>
        <br>
        <h1>Angular.Js</h1>
        <p> re-inventing the wheel, and move the needle. Feature creep dogpile that but diversify kpis but market-facing.</p>
        <ion-icon color="warning" name="star"></ion-icon>
        <ion-icon color="warning" name="star"></ion-icon>
        <ion-icon color="warning" name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <h5>(1 500 Ratings) 40 000 Students</h5>



        <section style=" width: 100%; text-align: center; margin-top: 60px;">

            <video style="margin-top: 0px; border-radius: 10px ;" src="../../../assets/videos/Login with Phone number in an Angular App using Firebase Authentication_Trim.mp4" height="400" width="600" autoplay controls>
  
          </video>
            <h2>Learn IOS development, Website design, Freelancing</h2>

        </section>


    </ion-toolbar>
</ion-header>

<ion-content>



    <ion-item lines="none" color="transparent">
        <ion-label><b>What you will learn </b></ion-label>
    </ion-item>



    <ion-card>

        <ion-card-content>
            <ol>
                <ion-icon name="checkmark-circle-outline"></ion-icon>
                Angular is an open-source, dynamic and full-featured framework developed by Google. </ol>

            <ol>
                <ion-icon name="checkmark-circle-outline"></ion-icon>
                Creating the ASP.NET Core WebAPI and the Angular app using the DotNet CLI and the Angular CLI </ol>


            <ol>
                <ion-icon name="checkmark-circle-outline"></ion-icon>
                Adding routing to the Angular application. </ol>

            <ol>
                <ion-icon name="checkmark-circle-outline"></ion-icon>
                Knowledge Of HTML, CSS, JavaScript. The first and foremost thing is to have knowledge of the prerequisites. The most.</ol>

            <ol>
                <ion-icon name="checkmark-circle-outline"></ion-icon>
                Knowledge of Node JS and npm.. A web browser such as Chrome, Firefox, Safari, etc., understand only.</ol>

            <ol>
                <ion-icon name="checkmark-circle-outline"></ion-icon>
                AngularJS supports MVC structure to create an interactive web application. </ol>

            <ol>
                <ion-icon name="checkmark-circle-outline"></ion-icon>
                You'll learn all about Components, Directives, Services, Forms, Http Access, Authentication, Optimizing <br>an Angular App with Modules and Offline Compilation<br> and much more - and in the end: You'll learn how to deploy an application!
            </ol>


            <ol>
                <ion-icon name="checkmark-circle-outline"></ion-icon>
                AngularJS supports MVC structure to create an interactive web application. </ol>

















        </ion-card-content>


    </ion-card>




</ion-content>