<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Commence Leasons Thembi
        </ion-title>
    </ion-toolbar>
</ion-header>


<div>

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="column">
                    <h1>Angular.js</h1>

                    <p>Angular - The Complete video for Angular 10 and start building awesome web apps with the successor of Angular.jsdition</p>
                    <ion-col size="6">
                        <ion-icon color="warning" name="star"></ion-icon>
                        <ion-icon color="warning" name="star"></ion-icon>
                        <ion-icon color="warning" name="star"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                        <ion-icon name="star-outline"> </ion-icon>
                        <p>(40 000 Ratings) and 50 000 Students</p>

                    </ion-col>
                </div>
                <div class="column">
                    <video width="320" autoplay="autoplay" height="240" controls src=" http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1">
                
                </video>
                </div>
            </div>

        </div>
    </div>
</div>

<ion-content>
    <ion-segment [(ngModel)]="selectTabs">

        <ion-segment-button value="Course Content">
            <ion-label>Course Content</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Q&A">
            <ion-label>Q&A</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Notes">
            <ion-label>Notes</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Announcements">
            <ion-label>Announcements</ion-label>
        </ion-segment-button>
    </ion-segment>

    <div *ngIf="selectTabs =='Course Content' ">

        <table style="width:100%">
            <th>
                <tr>Section 1:</tr>
                <tr>Section 2: </tr>
                <tr>section 3:</tr>
                <tr>section 4:</tr>
                <tr>section 5:</tr>
                <tr>section 6:</tr>


            </th>

        </table>

    </div>



    <div *ngIf="selectTabs =='Q&A' ">
        <h3> Q&A</h3>
    </div>

    <div *ngIf="selectTabs =='Notes' ">
        <h3>Notes</h3>

    </div>

    <ion-content *ngIf="selectTabs =='Announcements' ">
        <h1 div="center">No announcements posted yet</h1>

    </ion-content>


</ion-content>