
    <section id="categories" style="overflow: auto;">

      <ion-item-divider class="Categories">
        <h2 class="subheaders" style="margin-left: 0px; margin-top: 10px;">IT AND SOFTWARES</h2>
        <ion-label slot="end">
          <a href="/Seeall" style="margin-right: 10px;">See All</a>
      </ion-label>

       
      </ion-item-divider>
      


        <mat-card class="fcourse-card" style=" padding: 0px;">
          <img style="margin: auto;" mat-card-image src="../../../assets/img/categorie/b3.jfif">
          <mat-card-content style="margin: 10px; ">
            <h5><b>Learn c++</b></h5>
            <span>By: <span class="instructor">Sam smith</span></span>
            <br>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <span class="prices">R920</span>
          </mat-card-content>
          
        </mat-card>

        <mat-card class="fcourse-card" style=" padding: 0px;">
          <img style="margin: auto;" mat-card-image src="../../../assets/img/categorie/b3.jfif">
          <mat-card-content style="margin: 10px; ">
            <h5><b>Learn Angular </b></h5>
            
            <span>By: <span class="instructor">Johanne van der merwe</span></span>
              <br>
              <ion-icon color="warning" name="star"></ion-icon>
              <ion-icon color="warning" name="star"></ion-icon>
              <ion-icon color="warning" name="star"></ion-icon>
              <ion-icon color="warning" name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            <span class="prices">R800</span> 
          </mat-card-content>
          
        </mat-card>

        <mat-card class="fcourse-card" style=" padding: 0px;">
          <img style="margin: auto;" mat-card-image src="../../../assets/img/categorie/b3.jfif">
          <mat-card-content style="margin: 10px; ">
            <h5><b>Learn Project management</b></h5>
           
            <span>By: <span class="categories">Innocent Mjo</span></span>
              <br>
              <ion-icon color="warning" name="star"></ion-icon>
              <ion-icon color="warning" name="star"></ion-icon>
              <ion-icon color="warning" name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            <span class="prices">R900</span> 
          </mat-card-content>
    
        </mat-card>


  


      <ion-item-divider class="Categories">
        <h2 class="subheaders" style="margin-left: 0px; margin-top: 10px;">Business management courses</h2>

        <ion-label slot="end">
            <a href="" style="margin-right: 10px;">See All</a>
        </ion-label>

      </ion-item-divider>

     
      <mat-card class="fcourse-card" style=" padding: 0px;">
        <img style="margin: auto;" mat-card-image src="../../../assets/img/categorie/b3.jfif">
        <mat-card-content style="margin: 10px; ">
          <h5><b>Learn Employee management</b></h5>
          
          <span>By: <span class="instructor">John anne</span></span>
            <br>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          <span class="prices">R900</span> 
        </mat-card-content>
        
      </mat-card>

      <mat-card class="fcourse-card" style=" padding: 0px;">
        <img style="margin: auto;" mat-card-image src="../../../assets/img/categorie/b3.jfif">
        <mat-card-content style="margin: 10px; ">
          <h5><b>Learn Business analytics</b></h5>
          <span>By: <span class="instructor">Brenda smith</span></span>
            <br>
          
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          <span class="prices">R900</span>
        </mat-card-content>
        
      </mat-card>

      <mat-card class="fcourse-card" style=" padding: 0px;">
        <img style="margin: auto;" mat-card-image src="../../../assets/img/categorie/b5.jfif">
        <mat-card-content style="margin: 10px; ">
          <h5><b>Business analytics</b></h5>
          
          <span>By: <span class="instructor">Sinobre G</span></span>
            <br>
         
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          <span class="prices">R600</span>
        </mat-card-content>
        
      </mat-card>






      <ion-item-divider class="Categories">
        <h2 class="subheaders" style="margin-left: 0px; margin-top: 10px;">Business analysis  courses</h2>

        <ion-label slot="end">
            <a href="" style="margin-right: 10px;">See All</a>
        </ion-label>

      </ion-item-divider>

     
      <mat-card class="fcourse-card" style=" padding: 0px;">
        <img style="margin: auto;" mat-card-image src="../../../assets/img/categorie/b3.jfif">
        <mat-card-content style="margin: 10px; ">
          <h5><b>Learn Employee management</b></h5>
          
          <span>By: <span class="instructor">John anne</span></span>
            <br>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          <span class="prices">R900</span> 
        </mat-card-content>
        
      </mat-card>

      <mat-card class="fcourse-card" style=" padding: 0px;">
        <img style="margin: auto;" mat-card-image src="../../../assets/img/categorie/b3.jfif">
        <mat-card-content style="margin: 10px; ">
          <h5><b>Learn Business analytics</b></h5>
          <span>By: <span class="instructor">Brenda smith</span></span>
            <br>
           
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          <span class="prices">R900</span> 
        </mat-card-content>
        
      </mat-card>

      <mat-card class="fcourse-card" style=" padding: 0px;">
        <img style="margin: auto;" mat-card-image src="../../../assets/img/categorie/b5.jfif">
        <mat-card-content style="margin: 10px; ">
          <h5><b>Business analytics</b></h5>
          
          <span>By: <span class="instructor">Sinobre G</span></span>
            <br>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          <span class="prices">R600</span> 
        </mat-card-content>
        
      </mat-card>

   
    

      <ion-item-divider class="Categories">
        <h2 class="subheaders" style="margin-left: 0px; margin-top: 10px;">Forex couses</h2>

        <ion-label slot="end">
            <a href="" style="margin-right: 10px;">See All</a>
        </ion-label>


      </ion-item-divider>

     
      <mat-card class="fcourse-card" style=" padding: 0px;">
        <img style="margin: auto;" mat-card-image src="../../../assets/img/categorie/b3.jfif">
        <mat-card-content style="margin: 10px; ">
          <h5><b>Learn Employee management</b></h5>
          
          <span>By: <span class="instructor">John anne</span></span>
            <br>
            
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <span class="prices">R900</span> 
        </mat-card-content>
        
      </mat-card>

      <mat-card class="fcourse-card" style=" padding: 0px;">
        <img style="margin: auto;" mat-card-image src="../../../assets/img/categorie/b3.jfif">
        <mat-card-content style="margin: 10px; ">
          <h5><b>Learn Business analytics</b></h5>
          <span>By: <span class="instructor">Brenda smith</span></span>
            <br>
         
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          <span class="prices">R900</span> 
        </mat-card-content>
        
      </mat-card>

      <mat-card class="fcourse-card" style=" padding: 0px;">
        <img style="margin: auto;" mat-card-image src="../../../assets/img/categorie/b5.jfif">
        <mat-card-content style="margin: 10px; ">
          <h5><b>Business analytics</b></h5>
          
          <span>By: <span class="instructor">Sinobre Gabrial</span></span>
            <br>
        
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon> 
          <span class="prices">R600</span> 
        </mat-card-content>
        
      </mat-card>

    </section>
    
   