<ion-header>
  <ion-toolbar>
    <ion-title>Task List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="projects mb-4">
    <div class="projects-inner">
      <header class="projects-header">
        <div class="title">Ongoing Tasks</div>
        <div class="count">| 32 Tasks</div>
        <i class="zmdi zmdi-download"></i>
      </header>
      <table class="projects-table">
        <thead>
          <tr>
            <th>Task</th>
            <th>Deadline</th>
            <th>Indructor</th>
            <th>Type</th>
            <th>Status</th>
            <th class="text-right">Actions</th>
          </tr>
        </thead>
        <tr>
          <td>
            <p>Database Design</p>
            <p>Google</p>
          </td>
          <td>
            <p>17th Oct, 21</p>
            <p class="text-danger">Overdue</p>
          </td>
          <td class="member">
            <figure><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/people_8.png" /></figure>
            <div class="member-info">
              <p>Myrtle Erickson</p>
              <p>UK Design Team</p>
            </div>
          </td>
          <td>
            <p>Quiz</p>
            
          </td>
          <td class="status">
            <span class="status-text status-orange">In progress</span>
          </td>
          <td>
            <ul>
            <ion-button color="none"  style="border-radius: 20px; " method="POST">
    
              <option [routerLink]="['/databasequiz']">Start Task</option>
          
            
            </ion-button>
            </ul>
          </td>
        </tr>
        <tr class="danger-item">
          <td>
            <p>Introduction to Database</p>
            <p>Google</p>
          </td>
          <td>
            <p>17th Feb, 21</p>
            <p class="text-danger">Overdue</p>
          </td>
          <td class="member">
            <figure><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/people_8.png" /></figure>
            <div class="member-info">
              <p>Myrtle Erickson</p>
              <p>UK Design Team</p>
            </div>
          </td>
          <td>
            <p>Quiz</p>
           
          </td>
          <td class="status">
            <span class="status-text status-red">Blocked</span>
          </td>
          <td>
            <ul>
            <ion-button color="danger" style="border-radius: 20px;"  method="POST">
              Cancelled
              
            </ion-button>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            <p>System Development</p>
            <p>Hospital System</p>
          </td>
          <td>
            <p>17th Oct, 21</p>
            <p class="text-danger">Overdue</p>
          </td>
          <td class="member">
            <figure><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/people_8.png" /></figure>
            <div class="member-info">
              <p>Myrtle Erickson</p>
              <p>UK Design Team</p>
            </div>
          </td>
          <td>
            <p>Coding</p>
            
          </td>
          <td class="status">
            <span class="status-text status-orange">In progress</span>
          </td>
          <td>
            <ul>
              <ion-button color="none" style="border-radius: 20px;" action="#" method="POST">
              View Paper
              </ion-button>
              </ul>
              <ul>
                <ion-button color="none" type="file" class="file-input" method="POST">
                  <input type="file" class="file-upload" onchange="console.log(event.target.files)">
                 </ion-button>
               
                 </ul>
          </td>
        </tr>
        <!-- <tr>
          <td>
            <p>New Dashboard</p>
            <p>Google</p>
          </td>
          <td>
            <p>17th Nov, 21</p>
            <p class="text-danger">Overdue</p>
          </td>
          <td class="member">
            <figure><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/people_8.png" /></figure>
            <div class="member-info">
              <p>Myrtle Erickson</p>
              <p>UK Design Team</p>
            </div>
          </td>
          <td>
            <p>Exam</p>
          
          </td>
          <td class="status">
            <span class="status-text status-orange">In progress</span>
          </td>
          <td >
            <ul>
              <ion-button color="none" style="border-radius: 20px;" action="#" method="POST">
                View Paper
                </ion-button>
                </ul>
                <ul>
                <ion-button color="none" (click)="fileUpload.click()" method="POST">
                   Answer All
                  </ion-button>
                  {{fileName || "No file uploaded yet."}}
                  </ul>

          </td>
        </tr> -->
      </table>
    </div>
  </div>
</ion-content>
