<ion-item-divider >
  <ion-toolbar id="toolbar">

  <span id="brand">ElearningApp</span>
  </ion-toolbar>
  </ion-item-divider>
<ion-content>

<h1 style="text-align:center" font-weight="bold">Students have better success when they set learning goals</h1>
  
        <ion-progress-bar  class="length" color="medium" value="{{stat}}"></ion-progress-bar>  
        <br>
        <br>

<ion-card color="medium">
    <ion-list>
      <ion-radio-group [(ngModel)]="answer3">
         
  
          <ion-item>
            <ion-label>3 hours - per week</ion-label>
            <ion-radio value="1" ></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>2 hours - per week</ion-label>
            <ion-radio value="2"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>1 hour - per week</ion-label>
            <ion-radio value="3"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label> 30 minutes - per week</ion-label>
            <ion-radio value="4"></ion-radio>
          </ion-item>
      
          
        </ion-radio-group>
      </ion-list>
          </ion-card>

            <ion-button color="medium" shape="round" size="large" (click)="goNext()">Submit</ion-button>
        </ion-content>


