<ion-header>
  <ion-toolbar>
    <ion-title>Student Profile </ion-title>
    
    <ion-buttons slot="end">
     
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div style="background-color: white; margin-bottom: 100px;">

  <ion-grid style="margin-bottom: 10px;">
    <ion-row>

      <ion-col size="12" >

        <ion-row>

          <ion-col size-lg="2" size-sm="12" size-md="12" *ngIf="!isEdit; else elseBlock"  style="text-align: center;">
            <ion-avatar style="height: 100px; width: 100px; margin: auto;">
              <img src="../../../assets/img/profile/pp.jpg">
            </ion-avatar>
            <ion-button color="dark" fill = "solid" expand="block" shape="round">
              <ion-icon name="camera"></ion-icon>
            </ion-button>
          </ion-col>

          <ion-col size-lg="8" size-sm="12" size-md="12" *ngIf="!isEdit; else elseBlock">
            <h2> <ion-icon size="small" name="person"> </ion-icon> {{studentAccount.getName() | uppercase}} {{studentAccount.getSurname() | uppercase}}  </h2>
            <h2> <ion-icon size="small" name="call"> </ion-icon> {{studentAccount.getPhone()}}</h2>
            <h3><ion-icon size="small" name="mail"> </ion-icon> {{studentAccount.getEmail()}}</h3>
            <ion-label><strong>Gender:</strong>
              {{studentAccount.getGender() | uppercase}}
            </ion-label>
            <!-- <div>
              <ion-icon size="large" name="logo-facebook"></ion-icon><ion-icon size="large" name="logo-google"></ion-icon><ion-icon size="large" name="logo-linkedin"></ion-icon>
            </div> -->
          </ion-col>
          <ion-col *ngIf="!isEdit;">
            <ion-button color="warning" fill="solid" shape="round" (click)="this.isEdit = true">Update</ion-button>  
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>
      <ion-row #elseBlock *ngIf="isEdit" justify-content-center class="ion-align-self-center"> 
        <ion-col size-lg="4" size-md="12" size-sm="12" offset-lg="4">
          <ion-label>Edit Information</ion-label>
                <ion-list lines="full">
                 <form [formGroup]="updateUserForm" (ngSubmit)="updateForm()">
         <ion-item>
           <ion-label position="floating">First Name</ion-label>
           <ion-input formControlName="firstname" placeholder="{{studentAccount.getName()}}" type="text" required></ion-input>
         </ion-item>
         <div class="error-container">
           <ng-container *ngFor="let validation of validation_messages.firstname">
             <div class="error-message" *ngIf="updateUserForm.get('firstname').hasError(validation.type) && (updateUserForm.get('firstname').dirty || updateUserForm.get('firstname').touched)">
               <ion-icon name="information-circle-outline"></ion-icon>
               <span>{{ validation.message }}</span>
             </div>
           </ng-container>
         </div>
         <ion-item>
           <ion-label position="floating">Last Name</ion-label>
           <ion-input formControlName="lastname" placeholder="{{studentAccount.getSurname()}}"  type="text" required>
           </ion-input>
         </ion-item>
         <div class="error-container">
           <ng-container *ngFor="let validation of validation_messages.lastname">
             <div class="error-message" *ngIf="updateUserForm.get('lastname').hasError(validation.type) && (updateUserForm.get('lastname').dirty || updateUserForm.get('lastname').touched)">
               <ion-icon name="information-circle-outline"></ion-icon>
               <span>{{ validation.message }}</span>
             </div>
           </ng-container>
         </div>
   
         <ion-item>
           <ion-label position="floating">Mobile</ion-label>
           <ion-input (keypress)="keyPress($event)" formControlName="phone" placeholder="{{studentAccount.getPhone()}}"  type="text"required>
           </ion-input>

         </ion-item>
         <div class="error-container">
           <ng-container *ngFor="let validation of validation_messages.phone">
             <div class="error-message" *ngIf="updateUserForm.get('phone').hasError(validation.type) && (updateUserForm.get('phone').dirty || updateUserForm.get('phone').touched)">
               <ion-icon name="information-circle-outline"></ion-icon>
               <span>{{ validation.message }}</span>
             </div>
           </ng-container>
 </div>
         <ion-row>
              <ion-col>
             <ion-button fill="solid" shape="round"  color="medium"  (click)="isEdit = false" expand="block">
               Cancel
             </ion-button>
           </ion-col>
           <ion-col>
             <ion-button [disabled]="!updateUserForm.valid" type="submit" shape="round" color="success"  expand="block">Update Info</ion-button>
             <div class="error-container" *ngIf="submitError">
               <div class="error-message">
                 <ion-icon name="information-circle-outline"></ion-icon>
                 <span>{{ submitError }}</span>
               </div>
             </div>
           </ion-col>
        
         </ion-row>
                </form>
           </ion-list>
       </ion-col> 
       
      </ion-row> 
      
  </ion-grid>
</div>   

              

           