<ion-header>
  <ion-toolbar>
    <ion-title>Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<div id="dashboard-container">
  <div class="leftside-menu">
    <div class="avatar">
      <ion-icon name="information-circle-outline"></ion-icon>
      <p>Infomation</p>
    </div>
    <nav class="menu">
      <li class="active">contacts</li>
      <ion-icon name="call"></ion-icon>
        <p>+27(012) 786 7865</p>
      <ion-icon name="mail"></ion-icon>
      <p>elearning@gmail.co.za</p>
  <ion-icon name="globe"></ion-icon>
  <p>www.elearningacdemy.co.za</p>
  <div class="avatar"></div>
      <li class="active">connect</li>
      <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-twitter"></ion-icon>
          <ion-icon name="logo-youtube"></ion-icon>
          <ion-icon name="logo-linkedin"></ion-icon>
    </nav>
  </div>
  
 
  <div class="main-grid">
    <div class="item one">

      <div class="row">
        <div class="column">
          <div class="card">
            <img src="https://th.bing.com/th/id/OIP.Lp6-IMruBOU7G-xDNOi3nAAAAA?pid=ImgDet&rs=1"  style="width:100%">
            <h4>Prof J SMITH</h4>
            <p>IT Faculty</p>
            <p><ion-icon name="call"></ion-icon></p>
            <p>012 987 3246</p>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="https://img1.wsimg.com/isteam/ip/a0d0563b-149e-4a5a-9d36-8c367c075087/Linda.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:400,cg:true" style="width: 100%;">
            <h3>Mrs Loius</h3>
            <p>Finance</p>
            <p><ion-icon name="call"></ion-icon></p>
            <p>012 097 2345</p>
          </div>
        </div>
      </div>

      
    </div>
    <div class="item two">
      
      
      
      
    </div> 
   
    <div class="item four">
      <h1 id="date">Contact us</h1>
      <p><a>we'd love to hear from you</a></p>

      <p><a></a></p>
    </div>
    
    <div class="item five">
      <div class="form">  
        <form id="contact" action="" method="post">
          <h3>Get in touch</h3>
          <fieldset>
            <input placeholder="Your name" type="text" tabindex="1" required autofocus>
          </fieldset>
          <fieldset>
            <input placeholder="Your Email Address" type="email" tabindex="2" required>
          </fieldset>
        
          <fieldset>
            <textarea placeholder="Type your Message Here...." tabindex="5" required></textarea>
          </fieldset>
          <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending"  (click)="checkout()">Submit</button>
          </fieldset>
        </form>
       
        
      </div> 
      
    </div>
    
  </div>
 
</div>