
    ion-content {
        position: absolute;
        top: 25%;
        left: 0%;
        right: 50%;
        margin: 0 auto;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
      }

      ion-card{
width: 50%;

transform: translateX(-50%) translateY(-50%);
    top: 30%;
    left: 50%;
    position: absolute;

      }

      #brand{
        font-weight: bold;
        margin-left: 35px;
        font-size: 150%;
      }

      .length{
        width: 50%;
        align-items: center;
        transform: translateX(-50%) translateY(-50%);
         top: 10%;
    left: 50%;
    position: absolute;
      }
      ion-button{
        transform: translateX(-50%) translateY(-50%);
        position: absolute;
        bottom: 40%;
        left:50%;
        right:40%;
        
      }
      .h1{
        font-weight: bold;
      
        
    }