

<section style="overflow: auto; margin-left: 7px;margin-bottom: 80px;">

  <ion-item-divider class="category">
    <h2 class="subheaders" style="margin-left: 0px; margin-top: 10px;">Popular Instructors</h2>
   
  </ion-item-divider>


  <mat-card class="icourse-card" >
    <ion-avatar style="margin-left: auto; margin-right: auto;">
      <img  src="../../../assets/img/profile/pp.jpg">
    </ion-avatar>

    <mat-card-content >
    <span ><b>Abraham Ntoe</b></span> <br>
     <ion-label>PhD in Computer science </ion-label> 
     <br>
     <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit dolor sit amet.</h3>
     
     <p><span class="instructors">3+ Courses,20+ Students</span></p>

   <ion-button color="white"> <ion-icon color="secondary" name="logo-linkedin" class="social"  ></ion-icon></ion-button>  <ion-button color="white"><ion-icon class="social" color="danger" name="logo-google"></ion-icon></ion-button>  <ion-button color="white"><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon></ion-button>

    </mat-card-content>
    
  </mat-card>

  
  <mat-card class="icourse-card" >
    <ion-avatar style="margin-left: auto; margin-right: auto;">
      <img  src="../../../assets/img/profile/pp.jpg">
    </ion-avatar>

    <mat-card-content >
    <span ><b>Abraham Ntoe</b></span> <br>
     <ion-label>PhD in Computer science </ion-label> 
     <br>
     <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit dolor sit amet.</h3>
     
     <p><span class="instructors">3+ Courses,20+ Students</span></p>

     
   <ion-button color="white"> <ion-icon color="secondary" name="logo-linkedin" class="social"  ></ion-icon></ion-button>  <ion-button color="white"><ion-icon class="social" color="danger" name="logo-google"></ion-icon></ion-button>  <ion-button color="white"><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon></ion-button>

    </mat-card-content>
    
  </mat-card>

  
  <mat-card class="icourse-card" >
    <ion-avatar style="margin-left: auto; margin-right: auto;">
      <img  src="../../../assets/img/profile/pp.jpg">
    </ion-avatar>

    <mat-card-content >
    <span ><b>Abraham Ntoe</b></span> <br>
     <ion-label>PhD in Computer science </ion-label> 
     <br>
     <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit dolor sit amet.</h3>
     
     <p><span class="instructors">3+ Courses,20+ Students</span></p>

     <ion-button color="white"> <ion-icon color="secondary" name="logo-linkedin" class="social"  ></ion-icon></ion-button>  <ion-button color="white"><ion-icon class="social" color="danger" name="logo-google"></ion-icon></ion-button>  <ion-button color="white"><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon></ion-button>

    </mat-card-content>
    
  </mat-card>

  
  <mat-card class="icourse-card" >
    <ion-avatar style="margin-left: auto; margin-right: auto;">
      <img  src="../../../assets/img/profile/pp.jpg">
    </ion-avatar>

    <mat-card-content >
    <span ><b>Abraham Ntoe</b></span> <br>
     <ion-label>PhD in Computer science </ion-label> 
     <br>
     <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit dolor sit amet.</h3>
     
     <p><span class="instructors">3+ Courses,20+ Students</span></p>

     <ion-button color="white"> <ion-icon color="secondary" name="logo-linkedin" class="social"  ></ion-icon></ion-button>  <ion-button color="white"><ion-icon class="social" color="danger" name="logo-google"></ion-icon></ion-button>  <ion-button color="white"><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon></ion-button>

    </mat-card-content>
    
  </mat-card>

  
  <mat-card class="icourse-card" >
    <ion-avatar style="margin-left: auto; margin-right: auto;">
      <img  src="../../../assets/img/profile/pp.jpg">
    </ion-avatar>

    <mat-card-content >
    <span ><b>Abraham Ntoe</b></span> <br>
     <ion-label>PhD in Computer science </ion-label> 
     <br>
     <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit dolor sit amet.</h3>
     
     <p><span class="instructors">3+ Courses,20+ Students</span></p>

     <ion-button color="white"> <ion-icon color="secondary" name="logo-linkedin" class="social"  ></ion-icon></ion-button>  <ion-button color="white"><ion-icon class="social" color="danger" name="logo-google"></ion-icon></ion-button>  <ion-button color="white"><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon></ion-button>

    </mat-card-content>
    
  </mat-card>

  
  <mat-card class="icourse-card" >
    <ion-avatar style="margin-left: auto; margin-right: auto;">
      <img  src="../../../assets/img/profile/pp.jpg">
    </ion-avatar>

    <mat-card-content >
    <span ><b>Abraham Ntoe</b></span> <br>
     <ion-label>PhD in Computer science </ion-label> 
     <br>
     <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit dolor sit amet.</h3>
     
     <p><span class="instructors">3+ Courses,20+ Students</span></p>

     
   <ion-button color="white"> <ion-icon color="secondary" name="logo-linkedin" class="social"  ></ion-icon></ion-button>  <ion-button color="white"><ion-icon class="social" color="danger" name="logo-google"></ion-icon></ion-button>  <ion-button color="white"><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon></ion-button>

    </mat-card-content>
    
  </mat-card>

  
  <mat-card class="icourse-card" >
    <ion-avatar style="margin-left: auto; margin-right: auto;">
      <img  src="../../../assets/img/profile/pp.jpg">
    </ion-avatar>

    <mat-card-content >
    <span ><b>Abraham Ntoe</b></span> <br>
     <ion-label>PhD in Computer science </ion-label> 
     <br>
     <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit dolor sit amet.</h3>
     
     <p><span class="instructors">3+ Courses,20+ Students</span></p>

     <ion-button color="white"> <ion-icon color="secondary" name="logo-linkedin" class="social"  ></ion-icon></ion-button>  <ion-button color="white"><ion-icon class="social" color="danger" name="logo-google"></ion-icon></ion-button>  <ion-button color="white"><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon></ion-button>

    </mat-card-content>
    
  </mat-card>

</section>
