<section id="popular-instructors" style="overflow: auto;">

  <ion-item-divider class="category">
    <h2 class="subheaders" style="margin-left: 0px; margin-top: 10px;">Popular Instructors</h2>

  </ion-item-divider>

  <ion-slides pager="false" [options]="slideOpts" style="overflow: auto; text-align: center; padding-left: 0px;">
    <ion-slide >

     

      <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
        <ion-avatar style="margin: auto; margin-top: 10px;">
          <img  src="../../../assets/img/profile/pp.jpg">
        </ion-avatar>
        <mat-card-content style="margin: 10px; ">
          <span ><b>Sam Smith</b></span>
            <br>
         <span>Master's Degree in Information Technology</span> <br>
         
         <p><span class="courses">4+ Courses, </span> <span> 6+ years of exprience</span></p>

         <ion-icon color="socondary" name="logo-linkedin" class="social" ></ion-icon><ion-icon class="social" color="danger" name="logo-google"></ion-icon><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon>

        </mat-card-content>
        
      </mat-card>



      <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
        <ion-avatar style="margin: auto; margin-top: 10px;">
          <img  src="../../../assets/img/profile/pp.jpg">
        </ion-avatar>
        <mat-card-content style="margin: 10px; ">
          <span ><b>Abraham Ntoe</b></span>
            <br>
         <span>PhD in Computer science </span> <br>
         
         <p><span class="courses">3+ Courses, </span> <span> 7+ years of exprience</span></p>

         <ion-icon color="socondary" name="logo-linkedin" class="social" ></ion-icon><ion-icon class="social" color="danger" name="logo-google"></ion-icon><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon>

        </mat-card-content>
        
      </mat-card>

      <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
        <ion-avatar style="margin: auto; margin-top: 10px;">
          <img  src="../../../assets/img/profile/pp.jpg">
        </ion-avatar>
        <mat-card-content style="margin: 10px; ">
          <span ><b>Justin Mthembu</b></span>
            <br>
         <span>PhD in Business Management</span> <br>
         
         <p><span class="courses">3+ Courses, </span> <span> 6+ years of exprience</span></p>

         <ion-icon color="secondary" name="logo-linkedin" class="social" ></ion-icon><ion-icon class="social" color="danger" name="logo-google"></ion-icon><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon>

        </mat-card-content>
        
      </mat-card>

      <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
        <ion-avatar style="margin: auto; margin-top: 10px;">
          <img  src="../../../assets/img/profile/pp.jpg">
        </ion-avatar>
        <mat-card-content style="margin: 10px; ">
          <span ><b>Jack Sibiya</b></span>
            <br>
         <span>PhD in Biotechnology </span> <br>
        
         <p><span class="courses">5+ Courses, </span> <span> 6+ years of expirience</span></p>

         <ion-icon color="socondary" name="logo-linkedin" class="social" ></ion-icon><ion-icon class="social" color="danger" name="logo-google"></ion-icon><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon>

        </mat-card-content>
        
      </mat-card>

      

      <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
        <ion-avatar style="margin: auto; margin-top: 10px;">
          <img  src="../../../assets/img/profile/pp.jpg">
        </ion-avatar>
        <mat-card-content style="margin: 10px; ">
          <span ><b>Emmanuel Blues</b></span>
            <br>
         <span>PhD in Design </span> <br>
        
         <p><span class="courses">3+ Courses, </span> <span> 6+ years of exprience</span></p>

         <ion-icon color="socondary" name="logo-linkedin" class="social" ></ion-icon><ion-icon class="social" color="danger" name="logo-google"></ion-icon><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon>

        </mat-card-content>
        
      </mat-card>



      <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
        <ion-avatar style="margin: auto; margin-top: 10px;">
          <img  src="../../../assets/img/profile/pp.jpg">
        </ion-avatar>
        <mat-card-content style="margin: 10px; ">
          <span ><b>Jackson Mametja</b></span>
            <br>
         <span>Systems Architect</span> <br>
         
         <p><span class="courses">3+ Courses, </span> <span> 6+ years of exprience</span></p>

         <ion-icon color="socondary" name="logo-linkedin" class="social" ></ion-icon><ion-icon class="social" color="danger" name="logo-google"></ion-icon><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon>

        </mat-card-content>
        
      </mat-card>

    </ion-slide>
   