<div class=instructor>
  <ion-item-divider class="instructors">
    <h2 class="subheaders" style="margin-left: 0px; margin-top: 10px;">Popular Instructors</h2>
</ion-item-divider>
 
      <mat-card class="fcourse-card profile-card" style=" padding: 30px;">
        <ion-avatar style="margin: 20px; margin-top: 20px;">
          <img  src="../../../assets/img/instructors/10.jfif" class="avatar">
        </ion-avatar>
          <br>
          <br>

        <mat-card-content style="margin: 10px; ">
        <span class="ins"><b>Abraham Ntoe</b></span>
        <br>
        <br>
         <span class="quali">PhD in Computer science </span> 
         <br>
         <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit dolor sit amet.</h3>
         
         <p><span class="instructors">3+ Courses,20+ Students</span></p>

         <ion-icon color="secondary" name="logo-linkedin" class="social" ></ion-icon><ion-icon class="social" color="danger" name="logo-google"></ion-icon><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon>

        </mat-card-content>
        
      </mat-card>
   
      <mat-card class="fcourse-card profile-card" style=" padding: 30px;">
        <ion-avatar style="margin: 20px; margin-top: 20px;">
          <img  src="../../../assets/img/instructors/100.jfif" class="avatar">
        </ion-avatar>
        <br>
        <br>
        <mat-card-content style="margin: 10px; ">
          <span class="ins" ><b>Justin Mthembu</b></span>
            <br>
            <br>
         <span class="quali">PhD in Business Management</span>
          <br>
         <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit dolor sit amet.</h3>
         
         <p><span class="instructors">3+ Courses,20+ Students</span></p>

         <ion-icon color="secondary" name="logo-linkedin" class="social" ></ion-icon><ion-icon class="social" color="danger" name="logo-google"></ion-icon><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon>

        </mat-card-content>
        
      </mat-card>

<section id="section-a" class="one">

      <mat-card class="fcourse-card profile-card" style=" padding: 30px;">
        <ion-avatar style="margin: 20px; margin-top: 20px;">
          <img  src="../../../assets/img/instructors/11.jfif" class="avatar">
        </ion-avatar>
        <br>
        <br>
        <mat-card-content style="margin: 10px; ">
          <span class="ins"><b>Jack Sibiya</b></span>
            <br>
            <br>
         <span class="quali">PhD in Biotechnology </span>
          <br>
         <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit dolor sit amet.</h3>
        
         <p><span class="instructors">5+ Courses,20+ Students</span></p>

         <ion-icon color="secondary" name="logo-linkedin" class="social" ></ion-icon><ion-icon class="social" color="danger" name="logo-google"></ion-icon><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon>

        </mat-card-content>
        
      </mat-card>
</section>
      
<section id="section-a" class="one">
      <mat-card class="fcourse-card profile-card" style=" padding: 30px;">
        <ion-avatar style="margin: 20px; margin-top: 20px;">
          <img src="../../../assets/img/instructors/11.jfif" class="avatar">
        </ion-avatar>
        <br>
        <br>
        <mat-card-content style="margin: 10px; ">
          <span class="ins"><b>Emmanuel Blues</b></span>
            <br>
            <br>
         <span class="quali">PhD in Design and communications </span> 
         <br>
         <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit dolor sit amet.</h3>
        
         <p><span class="instructors">3+ Courses,20+ Students</span></p>

         <ion-icon color="secondary" name="logo-linkedin" class="social" ></ion-icon><ion-icon class="social" color="danger" name="logo-google"></ion-icon><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon>

        </mat-card-content>
        
      </mat-card>
      </section>

      