

<div >

    
  <section id="main-content">

    <section id="featured-courses" style="overflow: auto;">

      <ion-item-divider class="category">
        <h2 class="subheaders" style="margin-left: 0px; margin-top: 10px;">Featured Courses</h2>
        <ion-label slot="end">
            <a href="#" style="margin-right: 10px;">See All</a>
        </ion-label>

      </ion-item-divider>
      


      <mat-card class="fcourse-card" style=" padding: 0px;">
        <img style="margin: auto;"  class="img"  mat-card-image src="../../../assets/img/featuredcourses/cloud.jpg">
        <mat-card-content style="margin: 10px; ">
          <h5><b>Learn Cloud Computing</b></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          <span>By: <span class="instructor">Emmanuel Mametja</span></span>
            <br>
            <ion-icon color ="warning" name="star"></ion-icon><ion-icon color ="warning" name="star"></ion-icon><ion-icon color ="warning" name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon> 
            <span class="prices">R1600</span> <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </mat-card-content>
        
      </mat-card>
  
  
      <mat-card class="fcourse-card" style=" padding: 0px;">
        <img style="margin: auto;" class="img" mat-card-image src="../../../assets/img/featuredcourses/c++.png">
        <mat-card-content style="margin: 10px; ">
          <h5><b>Learn C++ Programming</b></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipis</p>
          <span>By: <span class="instructor">Innocent Partco</span></span>
            <br>
          <ion-icon color ="warning" name="star"></ion-icon><ion-icon color ="warning" name="star"></ion-icon><ion-icon color ="warning" name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon> 
          <span class="prices">R1260</span> <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </mat-card-content>
        
      </mat-card>
    
      <mat-card class="fcourse-card" style=" padding: 0px;">
        <img style="margin: auto;" class="img" mat-card-image src="../../../assets/img/featuredcourses/django.png">
        <mat-card-content style="margin: 10px; ">
          <h5><b>Learn Django Python</b></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipis</p>
          <span>By: <span class="instructor">Mia Sinah</span></span>
            <br>
            <ion-icon color ="warning" name="star"></ion-icon><ion-icon color ="warning" name="star"></ion-icon><ion-icon color ="warning" name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon> 
            <span class="prices">R2860</span> <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </mat-card-content>
        
      </mat-card>
    </section>

    <section id="latest-courses" style="overflow: auto;">

      <ion-item-divider class="category">
        <h2 class="subheaders" style="margin-left: 0px; margin-top: 10px;">Latest Courses</h2>

        <ion-label slot="end">
            <a href="" style="margin-right: 10px;">See All</a>
        </ion-label>

      </ion-item-divider>


    
      <mat-card class="fcourse-card" style=" padding: 0px;">
        <img style="margin: auto;" class="img" mat-card-image src="../../../assets/img/latestcourses/flutter.png">
        <mat-card-content style="margin: 10px; ">
          <h5><b>Learn Flutter</b></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          <span>By: <span class="instructor">Thembi</span></span>
            <br>
            <ion-icon color="warning" name="star"></ion-icon><ion-icon color="warning" name="star"></ion-icon><ion-icon color="warning" name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon> 
            <span class="prices">R1600</span> <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </mat-card-content>
        
      </mat-card>
      
      <mat-card class="fcourse-card" style=" padding: 0px;">
        <img style="margin: auto;" class="img" mat-card-image src="../../../assets/img/latestcourses/gaming.jpg">
        <mat-card-content style="margin: 10px; ">
          <h5><b>Learn Game Development</b></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          <span>By: <span class="instructor">Mia Sinah</span></span>
            <br>
            <ion-icon color="warning" name="star"></ion-icon><ion-icon color="warning" name="star"></ion-icon><ion-icon color="warning" name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon> 
            <span class="prices">R1600</span> <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </mat-card-content>
        
      </mat-card>
      
      <mat-card class="fcourse-card" style=" padding: 0px;">
        <img style="margin: auto;" class="img" mat-card-image src="../../../assets/img/latestcourses/FIREBASE.png">
        <mat-card-content style="margin: 10px; ">
          <h5><b>Learn Google Firebase</b></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          <span>By: <span class="instructor">Emmanuel Mametja</span></span>
            <br>
          <ion-icon color="warning" name="star"></ion-icon><ion-icon color="warning" name="star"></ion-icon><ion-icon color="warning" name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon> 
          <span class="prices">R1600</span> <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </mat-card-content>
        
      </mat-card>
  </section>
    
    <section id="popular-instructors" style="overflow: auto;">

      <ion-item-divider class="category">
        <h2 class="subheaders" style="margin-left: 0px; margin-top: 10px;">Popular Instructors</h2>

      </ion-item-divider>

      <ion-slides pager="false" [options]="slideOpts" style="overflow: auto; text-align: center; padding-left: 0px;">
        <ion-slide >

         

          <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/profile/pp.jpg">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>Emmanuel Mametja</b></span>
                <br>
             <span>Systems Architect</span> <br>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
             <p><span class="courses">3+ Courses, </span> <span> 6+ years of exprience</span></p>

             <ion-icon color="socondary" name="logo-linkedin" class="social" ></ion-icon><ion-icon class="social" color="danger" name="logo-google"></ion-icon><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon>

            </mat-card-content>
            
          </mat-card>



          <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/profile/pp.jpg">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>Emmanuel Mametja</b></span>
                <br>
             <span>Systems Architect</span> <br>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
             <p><span class="courses">3+ Courses, </span> <span> 6+ years of exprience</span></p>

             <ion-icon color="socondary" name="logo-linkedin" class="social" ></ion-icon><ion-icon class="social" color="danger" name="logo-google"></ion-icon><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon>

            </mat-card-content>
            
          </mat-card>

          <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/profile/pp.jpg">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>Emmanuel Mametja</b></span>
                <br>
             <span>Systems Architect</span> <br>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
             <p><span class="courses">3+ Courses, </span> <span> 6+ years of exprience</span></p>

             <ion-icon color="socondary" name="logo-linkedin" class="social" ></ion-icon><ion-icon class="social" color="danger" name="logo-google"></ion-icon><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon>

            </mat-card-content>
            
          </mat-card>

          <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/profile/pp.jpg">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>Emmanuel Mametja</b></span>
                <br>
             <span>Systems Architect</span> <br>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
             <p><span class="courses">3+ Courses, </span> <span> 6+ years of exprience</span></p>

             <ion-icon color="socondary" name="logo-linkedin" class="social" ></ion-icon><ion-icon class="social" color="danger" name="logo-google"></ion-icon><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon>

            </mat-card-content>
            
          </mat-card>



        </ion-slide>
        <ion-slide>

          <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/profile/pp.jpg">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>Emmanuel Mametja</b></span>
                <br>
             <span>Systems Architect</span> <br>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
             <p><span class="courses">3+ Courses, </span> <span> 6+ years of exprience</span></p>

             <ion-icon color="socondary" name="logo-linkedin" class="social" ></ion-icon><ion-icon class="social" color="danger" name="logo-google"></ion-icon><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon>

            </mat-card-content>
            
          </mat-card>

          <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/profile/pp.jpg">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>Emmanuel Mametja</b></span>
                <br>
             <span>Systems Architect</span> <br>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
             <p><span class="courses">3+ Courses, </span> <span> 6+ years of exprience</span></p>

             <ion-icon color="socondary" name="logo-linkedin" class="social" ></ion-icon><ion-icon class="social" color="danger" name="logo-google"></ion-icon><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon>

            </mat-card-content>
            
          </mat-card>

          <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/profile/pp.jpg">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>Emmanuel Mametja</b></span>
                <br>
             <span>Systems Architect</span> <br>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
             <p><span class="courses">3+ Courses, </span> <span> 6+ years of exprience</span></p>

             <ion-icon color="socondary" name="logo-linkedin" class="social" ></ion-icon><ion-icon class="social" color="danger" name="logo-google"></ion-icon><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon>

            </mat-card-content>
            
          </mat-card>

          <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/profile/pp.jpg">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>Emmanuel Mametja</b></span>
                <br>
             <span>Systems Architect</span> <br>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
             <p><span class="courses">3+ Courses, </span> <span> 6+ years of exprience</span></p>

             <ion-icon color="socondary" name="logo-linkedin" class="social" ></ion-icon><ion-icon class="social" color="danger" name="logo-google"></ion-icon><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon>

            </mat-card-content>
            
          </mat-card>
        </ion-slide>
        <ion-slide>
         
          <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/profile/pp.jpg">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>Emmanuel Mametja</b></span>
                <br>
             <span>Systems Architect</span> <br>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
             <p><span class="courses">3+ Courses, </span> <span> 6+ years of exprience</span></p>

             <ion-icon color="socondary" name="logo-linkedin" class="social" ></ion-icon><ion-icon class="social" color="danger" name="logo-google"></ion-icon><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon>

            </mat-card-content>
            
          </mat-card>

          <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/profile/pp.jpg">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>Emmanuel Mametja</b></span>
                <br>
             <span>Systems Architect</span> <br>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
             <p><span class="courses">3+ Courses, </span> <span> 6+ years of exprience</span></p>

             <ion-icon color="socondary" name="logo-linkedin" class="social" ></ion-icon><ion-icon class="social" color="danger" name="logo-google"></ion-icon><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon>

            </mat-card-content>
            
          </mat-card>

          <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/profile/pp.jpg">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>Emmanuel Mametja</b></span>
                <br>
             <span>Systems Architect</span> <br>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
             <p><span class="courses">3+ Courses, </span> <span> 6+ years of exprience</span></p>

             <ion-icon color="socondary" name="logo-linkedin" class="social" ></ion-icon><ion-icon class="social" color="danger" name="logo-google"></ion-icon><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon>

            </mat-card-content>
            
          </mat-card>

          <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/profile/pp.jpg">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>Emmanuel Mametja</b></span>
                <br>
             <span>Systems Architect</span> <br>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
             <p><span class="courses">3+ Courses, </span> <span> 6+ years of exprience</span></p>

             <ion-icon color="socondary" name="logo-linkedin" class="social" ></ion-icon><ion-icon class="social" color="danger" name="logo-google"></ion-icon><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon>

             
            </mat-card-content>
            
          </mat-card>
        </ion-slide>
      </ion-slides>
      
    </section>

    <section id="stepper">

      <ion-item-divider class="category">
        <h2 class="subheaders" style="margin-left: 0px; margin-top: 10px;">How it works</h2>
       
      </ion-item-divider>

      <mat-horizontal-stepper labelPosition="bottom" >
        <mat-step state="phone">
          <ng-template matStepLabel>Pick a course</ng-template>
        </mat-step>
        <mat-step >
          <ng-template matStepLabel>Attend online classes</ng-template>
          
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Apply your skills</ng-template>
          
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Get certificate</ng-template>
          
        </mat-step>

        
      </mat-horizontal-stepper>
      
    </section>
    


  </section>

  <aside id="aside">
    
    <div class="popular-aside">
      <h2 class="aside-subheaders" >Popular Courses</h2>
        <a href="#" class="popular-links">Software Engineering</a><br>
        <a href="#" class="popular-links">Database Management</a><br>
        <a href="#" class="popular-links">Forex</a><br>
        <a href="#" class="popular-links">Marketing</a><br>
        <a href="#" class="popular-links">Business Analysis</a><br>
        <a href="#" class="popular-links">Business Management</a><br>
    </div>
   
    <div class="categories-aside" style="margin-top: 20px;">
      <h2 class="aside-subheaders">Categories</h2>
        <a href="#" class="categories-links">Software Engineering</a><br>
        <a href="#" class="categories-links">Database Management</a><br>
        <a href="#" class="categories-links">Forex</a><br>
        <a href="#" class="categories-links">Marketing</a><br>
        <a href="#" class="categories-links">Business Analysis</a><br>
        <a href="#" class="categories-links">Business Management</a><br>
    </div>
  </aside>


  
</div>
