

<div >

    
  <section id="main-content">
    
    <section id="featured-courses" style="overflow: auto;">
      <ion-item-divider class="category">
        <h2 class="subheaders" style="margin-left: 0px; margin-top: 10px;">Featured Courses</h2>
        <ion-label slot="end" >
            <a href="#" style="margin-right: 10px;" [routerLink]="['/featuredcourses']">See All</a>
        </ion-label>

      </ion-item-divider>
    
      <mat-card class="fcourse-card" style=" padding: 0px;" *ngFor="let course of featured_course"
       [class.selected]="course === selectedcourse" (click) ="selectCourse(course)">
       <img style="margin: auto;"  mat-card-image [src]="course.imgURL">
       <ion-label *ngIf="course.numberStudentsErrolled < 1" style="position: absolute; z-index: 10; top: 55%; left: 0%; background-color: #ffd534; color: black; border-top-right-radius: 15px; border-bottom-right-radius: 15px; padding: 4px; padding-right: 6px;" >Available</ion-label>
       <ion-label *ngIf="course.numberStudentsErrolled > 0" style="position: absolute; z-index: 10; top: 55%; left: 0%; background-color: #ffd534; color: black; border-top-right-radius: 15px; border-bottom-right-radius: 15px; padding: 4px; padding-right: 6px;" >Occupied</ion-label>

       <div class="image-cover" style=""></div>
       <mat-card-content style="margin: 10px;">
         <a   class="course-link">Learn {{course.name}}</a>
         
         <br>
         <p> {{course.category}}</p>
           <ion-row>
             <ion-col size ="8"> 
               <ion-icon color="warning" name="star"></ion-icon>
               <ion-icon color="warning" name="star"></ion-icon>
               <ion-icon color="warning" name="star"></ion-icon>
               <ion-icon color="warning" name="star-outline"></ion-icon>
               <ion-icon color="warning" name="star-outline"></ion-icon>
             </ion-col>
     
                <ion-col    size ="4" class="ion-align-self-end">
                 <ion-label><strong> {{course.price | currency: "R"}} </strong></ion-label>
               </ion-col>
           </ion-row>
           
           
       </mat-card-content>
       
     </mat-card>
    </section>

    <section id="latest-courses" style="overflow: auto;">

      <ion-item-divider class="category">
        <h2 class="subheaders" style="margin-left: 0px; margin-top: 10px;">Latest Courses</h2>

        <ion-label slot="end">
            <a [routerLink]="['/latestcourses']"  style="margin-right: 10px;">See All</a>
        </ion-label>

      </ion-item-divider>


      <mat-card class="fcourse-card" style=" padding: 0px;" *ngFor="let course of latest_course"
      [class.selected]="course === selectedcourse" (click) ="selectCourse(course)">
     <img style="margin: auto;"  mat-card-image [src]="course.imgURL">

     <ion-label style="position: absolute; z-index: 10; top: 55%; left: 0%; background-color: #ffd534; color: black; border-top-right-radius: 15px; border-bottom-right-radius: 15px; padding: 4px; padding-right: 6px;" >Available</ion-label>

      <mat-card-content style="margin: 10px;">
        <a   class="course-link">Learn {{course.name}}</a>
        <p>{{course.category}}</p>
  
          <ion-row>
            <ion-col size ="8"> 
              <ion-icon color="warning" name="star"></ion-icon>
              <ion-icon color="warning" name="star"></ion-icon>
              <ion-icon color="warning" name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </ion-col>
    
               <ion-col    size ="4" class="ion-align-self-end">
                <ion-label><strong> {{course.price | currency: "R"}} </strong></ion-label>
              </ion-col>
          </ion-row>
          
          
      </mat-card-content>
      
        </mat-card>

  </section>
    
    <section id="popular-instructors" style="overflow: auto;">

      <ion-item-divider class="category">
        <h2 class="subheaders" style="margin-left: 0px; margin-top: 10px;">Popular Instructors</h2>

      </ion-item-divider>

      <ion-slides pager="true" [options]="slideOpts" style="overflow: auto; overflow-x: hidden; text-align: center; padding-left: 0px;">
        <ion-slide  style="overflow-x: hidden;" >

         

          <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/instructors/instructor 1.jfif">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>Sam Abraham</b></span>
                <br>
             <span>PhD in geology</span> <br>
             <p>Master's (Rhodes),PhD (Wits)</p>
             <p><span class="courses">3+ Courses, </span> <span> 7+ years of experience</span></p>

             <ion-button color="white" href="https://www.linkedin.com/" > <ion-icon color="secondary" name="logo-linkedin" class="social" ></ion-icon></ion-button>  <ion-button color="white"  href="https://www.google.com/"><ion-icon class="social" color="danger" name="logo-google"></ion-icon></ion-button>  <ion-button color="white"  href="https://www.facebook.com/"><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon></ion-button>


            </mat-card-content>
            
          </mat-card>



          <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/instructors/instructor2.jfif">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>Simon Kweja</b></span>
                <br>
             <span>Phd in Reseachology</span> <br>
             <p>PhD (Walter Sisulu University)</p>
             <p><span class="courses">5+ Courses, </span> <span> 10+ years of experience</span></p>

             <ion-button color="white" href="https://www.linkedin.com/" > <ion-icon color="secondary" name="logo-linkedin" class="social" ></ion-icon></ion-button>  <ion-button color="white"  href="https://www.google.com/"><ion-icon class="social" color="danger" name="logo-google"></ion-icon></ion-button>  <ion-button color="white"  href="https://www.facebook.com/"><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon></ion-button>


            </mat-card-content>
            
          </mat-card>

          <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/instructors/instructor3.jfif">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>Jack Daniels</b></span>
                <br>
             <span>Master's in Science</span> <br>
             <p>Master's degree(UNISA)</p>
             <p><span class="courses">4+ Courses, </span> <span> 4+ years of exprience</span></p>

             <ion-button color="white" href="https://www.linkedin.com/" > <ion-icon color="secondary" name="logo-linkedin" class="social" ></ion-icon></ion-button>  <ion-button color="white"  href="https://www.google.com/"><ion-icon class="social" color="danger" name="logo-google"></ion-icon></ion-button>  <ion-button color="white"  href="https://www.facebook.com/"><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon></ion-button>


            </mat-card-content>
            
          </mat-card>

          <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/instructors/instructor3.jfif">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>Johanna Smit</b></span>
                <br>
             <span>PhD in Geocology</span> <br>
             <p>Masters(UNISA)</p>
             <p><span class="courses">5+ Courses, </span> <span> 8+ years of experience</span></p>

             <ion-button color="white" href="https://www.linkedin.com/" > <ion-icon color="secondary" name="logo-linkedin" class="social" ></ion-icon></ion-button>  <ion-button color="white"  href="https://www.google.com/"><ion-icon class="social" color="danger" name="logo-google"></ion-icon></ion-button>  <ion-button color="white"  href="https://www.facebook.com/"><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon></ion-button>



            </mat-card-content>
            
          </mat-card>



        </ion-slide>
        <ion-slide>

          <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/instructors/instructor4.jfif">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>Narthon Gabriel</b></span>
                <br>
             <span>PhD in Physiocology</span> <br>
             <p>Diploma(TUT),Masters(WITS)</p>
             <p><span class="courses">4+ Courses, </span> <span> 3+ years of  experience</span></p>

             <ion-button color="white" href="https://www.linkedin.com/" > <ion-icon color="secondary" name="logo-linkedin" class="social" ></ion-icon></ion-button>  <ion-button color="white"  href="https://www.google.com/"><ion-icon class="social" color="danger" name="logo-google"></ion-icon></ion-button>  <ion-button color="white"  href="https://www.facebook.com/"><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon></ion-button>


            </mat-card-content>
            
          </mat-card>

          <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/instructors/instructor 5.jfif">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>Emson James</b></span>
                <br>
             <span>PhD in Physics</span> <br>
             <p>Masters(UJ) ,PhD(UKZ)</p>
             <p><span class="courses">2+ Courses, </span> <span> 7+ years of Experience</span></p>

             <ion-button color="white" href="https://www.linkedin.com/" > <ion-icon color="secondary" name="logo-linkedin" class="social" ></ion-icon></ion-button>  <ion-button color="white"  href="https://www.google.com/"><ion-icon class="social" color="danger" name="logo-google"></ion-icon></ion-button>  <ion-button color="white"  href="https://www.facebook.com/"><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon></ion-button>


            </mat-card-content>
            
          </mat-card>

          <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/instructors/instructor2.jfif">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>Emellie Jackson</b></span>
                <br>
             <span>PhD in Project management</span> <br>
             <p>Masters (UNISA)</p>
             <p><span class="courses">5+ Courses, </span> <span> 7+ years of exprience</span></p>

             <ion-button color="white" href="https://www.linkedin.com/" > <ion-icon color="secondary" name="logo-linkedin" class="social" ></ion-icon></ion-button>  <ion-button color="white"  href="https://www.google.com/"><ion-icon class="social" color="danger" name="logo-google"></ion-icon></ion-button>  <ion-button color="white"  href="https://www.facebook.com/"><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon></ion-button>


            </mat-card-content>
            
          </mat-card>

          <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/instructors/instructor 6.jpg">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>Abraham sithole</b></span>
                <br>
             <span>PhD in Theology</span> <br>
             <p>Masters degree(UNISA)</p>
             <p><span class="courses">4+ Courses, </span> <span> 6+ years of experience</span></p>

             <ion-button color="white" href="https://www.linkedin.com/" > <ion-icon color="secondary" name="logo-linkedin" class="social" ></ion-icon></ion-button>  <ion-button color="white"  href="https://www.google.com/"><ion-icon class="social" color="danger" name="logo-google"></ion-icon></ion-button>  <ion-button color="white"  href="https://www.facebook.com/"><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon></ion-button>


            </mat-card-content>
            
          </mat-card>
        </ion-slide>
        <ion-slide>
         
          <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/instructors/instructor 5.jfif">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>Joa Nohan</b></span>
                <br>
             <span>PhD in statistics </span> <br>
             <p>Masters degree(UNISA).</p>
             <p><span class="courses">3+ Courses, </span> <span> 6+ years of exprience</span></p>

             <ion-button color="white" href="https://www.linkedin.com/" > <ion-icon color="secondary" name="logo-linkedin" class="social" ></ion-icon></ion-button>  <ion-button color="white"  href="https://www.google.com/"><ion-icon class="social" color="danger" name="logo-google"></ion-icon></ion-button>  <ion-button color="white"  href="https://www.facebook.com/"><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon></ion-button>


            </mat-card-content>
            
          </mat-card>

          <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/instructors/instructor 5.jfif">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>James jeo</b></span>
                <br>
             <span>PhD in Mathematics</span> <br>
             <p>Masters degree(UNISA)</p>
             <p><span class="courses">3+ Courses, </span> <span> 6+ years of exprience</span></p>

             <ion-icon color="secondary" name="logo-linkedin" class="social" ></ion-icon><ion-icon class="social" color="danger" name="logo-google"></ion-icon><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon>

            </mat-card-content>
            
          </mat-card>

          <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/instructors/instructor2.jfif">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>Joe elizabeth</b></span>
                <br>
             <span>PhD in geography</span> <br>
             <p>Masters degree(UNISA).</p>
             <p><span class="courses">3+ Courses, </span> <span> 6+ years of exprience</span></p>

             <ion-icon color="secondary" name="logo-linkedin" class="social" ></ion-icon><ion-icon class="social" color="danger" name="logo-google"></ion-icon><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon>

            </mat-card-content>
            
          </mat-card>

          <mat-card class="fcourse-card profile-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/instructors/instructor 5.jfif">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>Africa Nza</b></span>
                <br>
             <span>PhD in Theology</span> <br>
             <p>Masters degree(UNISA)</p>
             <p><span class="courses">3+ Courses, </span> <span> 6+ years of exprience</span></p>

             <ion-button color="white" href="https://www.linkedin.com/" > <ion-icon color="secondary" name="logo-linkedin" class="social" ></ion-icon></ion-button>  <ion-button color="white"  href="https://www.google.com/"><ion-icon class="social" color="danger" name="logo-google"></ion-icon></ion-button>  <ion-button color="white"  href="https://www.facebook.com/"><ion-icon color="primary" class="social" name="logo-facebook"></ion-icon></ion-button>


             
            </mat-card-content>
            
          </mat-card>
        </ion-slide>
      </ion-slides>
      
    </section>

    <section id="sestimonials" style="overflow: auto;">

      <ion-item-divider class="category">
        <h2 class="subheaders" style="margin-left: 0px; margin-top: 10px;">Testimonials from our students</h2>

      </ion-item-divider>

      <ion-slides pager="true" [options]="slideOpts2" style="overflow: auto; overflow-x: hidden; text-align: center; padding-left: 0px;">
        <ion-slide >

         
          <mat-card class="fcourse-card student-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/students/student1.jpg">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>John Nathan</b></span>
                <br>
             <span> Student</span> <br>
             <p>"It was my immense luck and fortune to be the part of E-learning where I can grow.
                My four years at E-Learning have been wonderful "</p>
            
            </mat-card-content>
            
          </mat-card>

          <mat-card class="fcourse-card student-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/students/student2.jfif">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>James Jackson</b></span>
                <br>
             <span>Student</span> <br>
             <p>" My four years at E-learning were great and a memory to cherish for lifetime. It was full of learning and grooming oneself. "</p>

            </mat-card-content>
            
          </mat-card>



        </ion-slide>
        <ion-slide>

         
         
          <mat-card class="fcourse-card student-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/students/student3.jpg">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>Elma Johhane </b></span>
                <br>
             <span>Student</span> <br>
             <p>"Great experience from E-learning.  Work hard to get it.Great opportunity"</p>
            
            </mat-card-content>
            
          </mat-card>

          <mat-card class="fcourse-card student-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/students/student 4.jfif">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>Chaitany Tomar</b></span>
                <br>
             <span>Student</span> <br>
             <p>"E-learning and their instuctors have put in all the efforts to make us corporate professionals. "</p>

            </mat-card-content>
            
          </mat-card>        
        </ion-slide>

        <ion-slide>
         
          
         
          <mat-card class="fcourse-card student-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/students/student5.jfif">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>Amanda Pentacorse</b></span>
                <br>
             <span>Student</span> <br>
             <p>"My experience at E-learning is great and memorable. The instructors and mentors are really helpful and
                helped me to improve my academics"</p>
            
            </mat-card-content>
            
          </mat-card>

          <mat-card class="fcourse-card student-card" style=" padding: 0px;">
            <ion-avatar style="margin: auto; margin-top: 10px;">
              <img  src="../../../assets/img/students/student2.jfif">
            </ion-avatar>
            <mat-card-content style="margin: 10px; ">
              <span ><b>Almomd Jones</b></span>
                <br>
             <span>Student</span> <br>
             <p>"
              Due to the efforts made by the faculty and placement cell at E-learning i was able to bag a job in the second company that i applied for.
                "</p>

            </mat-card-content>
            
          </mat-card>
        </ion-slide>
      </ion-slides>
      
    </section>


    <section id="stepper">

      <ion-item-divider class="category">
        <h2 class="subheaders" style="margin-left: 0px; margin-top: 10px;">How it works</h2>
       
      </ion-item-divider>

      <mat-horizontal-stepper labelPosition="bottom" >
        <mat-step state="phone">
          <ng-template matStepLabel>Pick a course</ng-template>
        </mat-step>
        <mat-step >
          <ng-template matStepLabel>Attend online classes</ng-template>
          
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Apply your skills</ng-template>
          
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Get certificate</ng-template>
          
        </mat-step>

        
      </mat-horizontal-stepper>
      
    </section>
    


  </section>

  <aside id="aside">
    
    <div class="popular-aside">
      <h2 class="aside-subheaders" >Popular Courses</h2>
        <a href="#" class="popular-links">Software Engineering</a><br>
        <a href="#" class="popular-links">Database Management</a><br>
        <a href="#" class="popular-links">Forex</a><br>
        <a href="#" class="popular-links">Marketing</a><br>
        <a href="#" class="popular-links">Business Analysis</a><br>
        <a href="#" class="popular-links">Business Management</a><br>
    </div>
   
    <div class="categories-aside" style="margin-top: 20px;">
      <h2 class="aside-subheaders">Categories</h2>
        <a href="/catagories" class="categories-links">Software Engineering</a><br>
        <a href="#" class="categories-links">Database Management</a><br>
        <a href="#" class="categories-links">Forex</a><br>
        <a href="#" class="categories-links">Marketing</a><br>
        <a href="#" class="categories-links">Business Analysis</a><br>
        <a href="#" class="categories-links">Business Management</a><br>
    </div>
  </aside>


  
</div>
