

  <ion-toolbar id="toolbar">

    
        <ion-title size="large" slot="start" class="ion-padding" id="brand">ElearningApp</ion-title>
        <ion-input slot="start" placeholder="Search course by name" id="searchbar" clear-input="true"><ion-icon name="search-outline" slot="start" id="searchicon"></ion-icon></ion-input>
    

        <ion-buttons slot="end" class="ion-margin">

          <div *ngIf ="!loginStatus" style="width: 35%; padding-left: 15%; margin-right: 40px;">
            <ion-button fill="outline" shape="round"  id="btnsignin" [matMenuTriggerFor]="menu" mat-icon-button aria-label="Example icon button with a vertical three dot icon" class="ion-margin" >Sign In/Sign Up</ion-button>
         
            <mat-menu #menu="matMenu">
              <button (click)=  "isStudent = true"  mat-menu-item routerLink="student-profile">Student</button>
              <button (click)=  "isStudent = false" mat-menu-item routerLink="instructor-profile">Instructor</button>
            </mat-menu>
          </div>
          
          <ion-button fill="clear" *ngIf="loginStatus" id="btnNotification"><ion-icon name="notifications-outline" style="font-size: x-large;"></ion-icon> </ion-button>
          
          <ion-avatar *ngIf ="loginStatus"  style="width: 25px; height: 25px;">
            <img src="../../../assets/img/profile/pp.jpg">
          </ion-avatar>
       
          <button *ngIf ="loginStatus" [matMenuTriggerFor]="menu" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <ion-icon size="" name="chevron-down-outline"></ion-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button *ngIf ="isStudent" mat-menu-item routerLink="student-profile">Student Profile</button>
            <button *ngIf ="!isStudent" mat-menu-item routerLink="student-instructor">Instructor Profile</button>
            <button mat-menu-item (click)="signOut()">Sign out</button>
          </mat-menu>
        </ion-buttons> 
   
  </ion-toolbar>


  <ion-content>
  
  
  <mat-sidenav-container class="example-container" >
    
    <mat-sidenav #sidenav mode="side" fixedInViewport="true" opened fixedTopGap="80" id="sideNav">
      <ion-item button="true" detail routerLink="home">
        <mat-icon>home_outline</mat-icon><ion-label class="pagestabs">Home</ion-label>
      </ion-item>
  
      <ion-item button="true" detail routerLink="featuredcourses">
        <mat-icon>domain</mat-icon><ion-label class="pagestabs">Featured Courses</ion-label>
      </ion-item>
  
      <ion-item button="true" detail routerLink="latestcourses">
        <mat-icon>ondemand_video</mat-icon><ion-label class="pagestabs">Latest Courses</ion-label>
      </ion-item>
  
      <ion-item button="true" detail  routerLink="popularcourses">
        <mat-icon>ondemand_video</mat-icon><ion-label class="pagestabs">Popular Courses</ion-label>
      </ion-item>
  
      <ion-item button="true" detail routerLink="categories">
        <mat-icon>book</mat-icon><ion-label class="pagestabs">Categories</ion-label>
      </ion-item>
  
      <ion-item *ngIf ="loginStatus" button="true" detail routerLink="courseinrolled">
        <mat-icon>library_books</mat-icon><ion-label class="pagestabs">Enrolled Courses</ion-label>
      </ion-item>
  
  
      <ion-item button="true" detail routeroulet routerLink="popularinstructors">
        <mat-icon >people_outline</mat-icon><ion-label class="pagestabs">Popular Instructors</ion-label>
      </ion-item>
  
      <ion-item *ngIf ="loginStatus" button="true" detail routerLink="student-profile">
        <mat-icon >person_outline</mat-icon><ion-label class="pagestabs">Account</ion-label>
      </ion-item>
  
      
  
      <ion-item button="true" detail routerLink="about">
        <mat-icon >infor_outline</mat-icon><ion-label class="pagestabs">About Us</ion-label>
      </ion-item>
  
      <ion-item button="true" detail routerLink="contacts">
        <mat-icon >phone_outline</mat-icon><ion-label class="pagestabs">Contact Us</ion-label>
      </ion-item>
  
    </mat-sidenav>
    <mat-sidenav-content style="margin-left: 217px;" >
      
        <router-outlet></router-outlet>
  
  
    </mat-sidenav-content>
  
  </mat-sidenav-container>

</ion-content>
  
  