
    ion-content {
        position: absolute;
        top: 25%;
        left: 0%;
        right: 50%;
        margin: 0 auto;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
      }

      ion-card{
width: 75%;

      }

      #brand{
        font-weight: bold;
        margin-left: 35px;
        font-size: 150%;
      }

      .length{
        width: 75%;
      }