
    ion-content {
        position: absolute;
        top: 25%;
        left: 0%;
        right: 50%;
        margin: 0 auto;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
      }

      ion-icon{
     vertical-align:-0.125em;
     color:palevioletred;
     text-align:center;
     font-size: 2000%;
     height: 40%;
     top: 40%;
  

    }
      


      #brand{
        font-weight: bold;
        margin-left: 35px;
        font-size: 150%;
      }

      .length{
        width: 50%;
        align-items: center;
        transform: translateX(-50%) translateY(-50%);
         top: 10%;
    left: 50%;
    position: absolute;
      }
      ion-button{
        transform: translateX(-50%) translateY(-50%);
        position: absolute;
        bottom: 50%;
        left:50%;
        right:40%;
        
      }

    

    ion-icon{
        
        transform: translateX(-50%) translateY(-50%);
          top: 25%;
          left: 50%;
          position: absolute;
          width: 500px;
          height: 300px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 100px;
        
            }
        
            #brand{
              font-weight: bold;
              margin-left: 35px;
              font-size: 150%;
            }
h1 {
    text-align: center;
}
