<ion-header>

<ion-item-divider >
  <ion-toolbar id="toolbar">

   <span id="brand">ElearningApp</span>
 <ion-icon name="person" slot="end" class="person"></ion-icon> 
  </ion-toolbar>
  </ion-item-divider>
</ion-header>



  <ion-content>
  
    <div class="sidenav">
      <br>
      <br>
      <br>
      <br>
      <a href="#about">Dashboard</a>
      <br>
      <br>
      <a href="#services">Assessments</a>
      <br>
      <br>
      <a href="#clients">Exams</a>
      <br>
      <br>
      <a href="#contact">Quiz</a>
      <br>
      <br>
      <a href="#services">Exams</a>
      <br>
      <br>
      <a href="#clients">Enrolled courses</a>
      <br>
      <br>
      <a href="#contact">About us</a>
    </div>
    <h1>Dashboard</h1>
  <ion-grid>
    <ion-row>
       <ion-col col-6 class="margin">
           <ion-card class="text-center">
            <ion-icon name="book"></ion-icon>
              <h2>Assessments</h2>
            
            <h3>0</h3>
           </ion-card>
           <ion-card class="text-center2">
            <ion-icon name="school-outline"></ion-icon>
            <h2>Quiz</h2>
            <h3>0</h3>
         </ion-card>
       </ion-col>
       <ion-col col-6 class="merge">
        <ion-card class="text-center4" >
          <ion-icon name="newspaper-outline"></ion-icon>
           <h2>Enrolled courses</h2>
          
            <h3>0</h3>
        </ion-card>
        <ion-card class="text-center3">
          <ion-icon name="briefcase"></ion-icon>
          <h2>Exams</h2>
          
            <h3>0</h3>
       </ion-card> 
        
    </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>