#brand{
    font-weight: bold;
    margin-left: 35px;
    font-size: 150%;
  }

  h1 {
    font-weight: bold;
    margin-left: 35px;
    font-size: 150%;
  text-align: center;
  margin-top: 3%;

  }

  .margin{
    margin-top: 30px;
    left:23%;
}
.merge{
  margin-top: 30px;
}
ion-icon{
  font-size: 20px;
}
.text-center{
    
    text-align: center;
    background-color:white;
    height: 80%;
    width:50%;
}

.text-center2{
    text-align: center;
    background-color:white;
    height: 80%;
    width:50%;
}

.text-center3{
    text-align: center;
    background-colo:white;
    height: 80%;
    width:50%;
}

.text-center4{
    text-align: center;
    background-color: white;
    height: 80%;
    width:50%;
}


ion-icon {
    
    font-size: 70px;
    align: center;
     //Preferred size here
}

// navbar

.sidenav {
  height: 100%;
  width:350px;
  position: fixed;
  z-index: 1;
  top: 2;
  left: 0;
  background-color:rgb(9, 9, 41);
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.sidenav a:hover {
  color: #F1F1F1;
}
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}