<ion-header>
    <ion-toolbar>
        <ion-title>Add new {{course.name}} lesson</ion-title>
    </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-item>
    <ion-label position="fixed">Lesson name </ion-label>
    <ion-input #name type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Number</ion-label>
    <ion-input #number type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Document </ion-label>
    <ion-input type="file" (change)="uploadDocURL($event)"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Video</ion-label>
    <ion-input type="file"  (change)=  "uploadVideoUrl($event)" ></ion-input>
  </ion-item>
  <ion-button color="primary" expand="block" shape="round" (click)="addLesson(name.value,number.value)">Upload</ion-button>


</ion-content> -->


<mat-card style="margin-top: 100px;">
    <ion-item>
        <ion-label position="fixed">Lesson name </ion-label>
        <ion-input [(ngModel)]="lessonName" #name type="text"></ion-input>
    </ion-item>
    <ion-label position="fixed">Document </ion-label>
    <input type='file' (change)="uploadFile($event)">
    <div> {{ uploadPercentage | async }} %</div>
    <a [href]="downloadURL | async">{{ downloadURL | async }}</a>
    <mat-card style="margin-top: 10px; width: 50%;">
        <mat-card-content>
            <ion-progress-bar [value]="(uploadPercentage |async)"> </ion-progress-bar>
            <label [className]="(uploadPercentage |async)"> {{uploadPercentage |async}} %</label>
            <span id="(uploadPercentage |async)"></span>
        </mat-card-content>
    </mat-card>
    <ion-label position="fixed">Video </ion-label>
    <input type='file' (change)="uploadVideo($event)">
    <div> {{ uploadPercentage_V | async }} %</div>
    <a [href]="downloadURL_V | async">{{ downloadURL_V | async }}</a>
    <mat-card style="margin-top: 10px; width: 50%;">
        <mat-card-content>
            <ion-progress-bar [value]="(uploadPercentage_V |async)"> </ion-progress-bar>
            <label [className]="(uploadPercentage_V |async)"> {{uploadPercentage_V |async}} %</label>
            <span id="(uploadPercentage_V |async)"></span>
        </mat-card-content>
    </mat-card>

    <mat-card style="margin-top: 10px; width: 50%;">
        <mat-card-actions>
            <button mat-button color="warn" (click)="onClick(name.value)">
            <mat-icon>file_upload</mat-icon>Upload
          </button>
        </mat-card-actions>
    </mat-card>
</mat-card>