<ion-header >
    <ion-toolbar color = "ourtheme">
        <ion-title>Add new {{course.name}} lesson</ion-title>
 <ion-buttons slot="end">
        <ion-button fill="outline" size="small" slot="end" (click)="close()">
            <ion-icon color="light" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
   
</ion-header>

<ion-content>
<mat-card>
    <ion-item>
        <ion-label position="fixed">Lesson name </ion-label>
        <ion-input [(ngModel)]="lessonName" #name type="text"></ion-input>
    </ion-item>
    <!-- <ion-list>
        <ion-item>
            <ion-label position="fixed">Document </ion-label>
            <input type='file' (change)="uploadFile($event)">
            </ion-item>
        <ion-item>
            <a [href]="downloadURL | async">{{ downloadURL | async }}</a>
            <ion-progress-bar [value]="(uploadPercentage |async)"></ion-progress-bar>
            <label [className]="(uploadPercentage |async)"> {{uploadPercentage | async }}%</label>
        </ion-item>
        <span id="(uploadPercentage |async)"></span>
    </ion-list> -->

        <ion-item>
            <ion-label position="fixed">Select Video</ion-label>
            <!-- <input type='file' (change)="uploadVideo($event)"> -->
            <ion-button  fill="outline"  shape="round" color="ourtheme" >

                          <input type='file' (change)="uploadVideo($event)">
            </ion-button>

            <!-- <div> {{ uploadPercentage_V | async }} %</div> -->
        </ion-item>
        <ion-item>
            <a [href]="downloadURL_V | async">{{ downloadURL_V | async }}</a>
            <ion-progress-bar [value]="(uploadPercentage_V |async)"></ion-progress-bar>
            <label [className]="(uploadPercentage_V |async)"> {{uploadPercentage_V |async }}%</label>
        </ion-item>
        <span id="(uploadPercentage_V |async)"></span>
 



    <ion-button  shape="round" color="primary" expand="block" shape="round" (click)="onClick(name.value)">Upload
        <mat-icon>file_upload</mat-icon>
    </ion-button>

</mat-card>

</ion-content>