<ion-header>
  <ion-toolbar>
    <ion-title>Add new {{course.name}} lesson</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="fixed">Lesson name </ion-label>
    <ion-input #name type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Number</ion-label>
    <ion-input #number type="number"></ion-input>
  </ion-item>
  <!-- <ion-item>
    <ion-label position="fixed">Document </ion-label>
    <ion-input type="file" (change)="uploadDocURL($event)"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Video</ion-label>
    <ion-input type="file"  (change)=  "uploadVideoUrl($event)" ></ion-input>
  </ion-item> -->
  <ion-button color="primary" expand="block" shape="round" (click)="addLesson(name.value,number.value)">Upload</ion-button>


</ion-content>
