<ion-header>
  <ion-toolbar>
    <ion-title>Announcement</ion-title>
  </ion-toolbar>
</ion-header>

<div style="background-color: white;">


  <mat-accordion class="example-headers-align">
    <mat-expansion-panel *ngFor="let studentA of studentAnnouncement">
      <mat-expansion-panel-header (click)="view(studentA)">
        <mat-panel-title>
          {{studentA.subject}}
        </mat-panel-title>
        <mat-panel-description>
          {{studentA.date}}
          
        </mat-panel-description>
        <ion-badge slot="end" color="success" style="margin-right: 10px;" *ngIf="!studentA.viewed">New</ion-badge>
    </mat-expansion-panel-header>

    <ion-textarea #ann disabled [value]="studentA.message"></ion-textarea>
    </mat-expansion-panel>
    
  </mat-accordion>
  

</div>
